.DS_Store
.hugo_build.lock
.markdownlint.jsonc
.vscode

archetypes
assets
config
content
data
demo
i18n
layouts
node_modules
notes
old
resources
static
themes

go.mod
go.sum
hugo_stats.json
hugo.toml
package-lock.json
package.hugo.json
package.json
